#googlebutton{
    width: 120px;
    height: 36px;    
    color: #FFFFFF;
    border-bottom: solid 2px #02336d;
    background: #225FCD;
    
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#googlebutton:hover,
#googlebutton:focus{
   border-bottom: solid 2px #04538d;
   background: #427FED;
   cursor: pointer;
}

#googlebutton .google-icon{
    margin: 6px 0 0 6px;
    float: left; 
    fill: #FFFFFF;   
}

#googlebutton .sign-in-text{
    text-align: center;
    vertical-align: middle;
    margin: 3px 0 0 0;
    float: left;
    width: 90px;
}